@font-face {
    font-family: 'NexonWarhaven';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2312-1@1.1/WarhavenB.woff2') format('woff2');
    font-weight: 700;
    font-display: swap;
}

/* ================== TOKENS ================== */
:root {
    --stage-w: 532px;
    --stage-h: 392px;

    --label-w: 70px;
    --gauge-h: 24px;
    --gap: 8px;
    --radius: 5px;

    /* colors */
    --txt: #ffffff;
    --muted: #ffffff;
    --bg-soft: rgba(12,14,32,0.08);
    --track: #96909e;
    --fill:  #d2ced8;
}

html, body {
    margin: 0;
    width: var(--stage-w);
    height: var(--stage-h);
    background: transparent;
    color: var(--txt);
    font-family: ui-sans-serif, system-ui, -apple-system, Segoe UI, Roboto, "Noto Sans KR", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.stage {
    width: var(--stage-w);
    height: var(--stage-h);
    padding: 12px;
    box-sizing: border-box;
    backdrop-filter: blur(2px);
    border-radius: 16px;

    display: grid;
    grid-auto-rows: 1fr;
    row-gap: var(--gap);
}

.gaugeWrap {
    margin-top: 74px;
    padding: 30px;
    padding-top: 0;
}

.row {
  display: grid;
  grid-template-columns: 
    var(--label-w)
    1fr
    auto auto auto;
  align-items: center;
  column-gap: var(--gap);
  min-height: 1px;
  margin-bottom: 6px;
}

.label {
    letter-spacing: .02em;
    color: var(--muted);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-family: 'NexonWarhaven';
    font-size: 23px;
}

.gauge {
  position: relative;
  height: var(--gauge-h);
  border-radius: var(--radius);
  background: var(--track);
  overflow: hidden;
}

.fill {
  position: absolute;
  inset: 0;
  width: 0%;
  background: var(--fill);
  transition: width 280ms ease;
}

.btn, .num {
    text-align: center;
    border: none;
    border-radius: 10px;
    box-sizing: border-box;
    color: var(--txt);
    font-weight: 900;
    letter-spacing: .02em;
    padding: 0;
    box-shadow: inset 0 0 0 2px rgba(255,255,255,.06);
    padding: 5px;
}

.num {
    background: var(--fill);
}

.btn {
    background: var(--track);
    cursor: pointer;
    user-select: none;
}

.btn:hover {
    filter: brightness(1.08);
}

.btn:active {
    transform: translateY(1px);
}

.num {
  width: 64px;
  text-align: center;
  -moz-appearance: textfield;
}

.num::-webkit-outer-spin-button,
.num::-webkit-inner-spin-button { -webkit-appearance: none; margin: 0; }